.all {
     position: relative;
     width: 1440px;
     height: 6671px;
}

.hero {
     position: absolute;
     width: 1440px;
     height: 831px;
     left: 0px;
     top: 0px;
     background: #171717 url('./images/Vector.png') no-repeat top left;
     background-size: auto;
}

.nav {
     width: Fixed (1, 440px)px;
     height: Hug (114px)px;
     padding: 20px 98px 20px 98px;
     display: flex;
     flex-direction: row;
     place-content: space-between;
     place-items: center;
     padding: 20px 98px;
     gap: 8px;
     position: absolute;
     height: 114px;
     left: 0%;
     right: 0%;
     top: 0px;
}

.nav p {
     margin: 0 auto;
     width: 131px;
     height: 48px;
     font-family: 'Titillium Web';
     font-style: normal;
     font-weight: 600;
     font-size: 38px;
     line-height: 48px;
     color: #FFFFFF;
     flex: none;
     order: 0;
     flex-grow: 0;

}

.nav p span {
     color: #00A7D6;
}

.frame {
     display: flex;
     flex-direction: row;
     place-content: space-between;
     place-items: center;
     padding: 15px;
     gap: 8px;
     margin: 0 auto;
     width: 507px;
     height: 74px;
     background: rgba(206, 249, 254, 0.13);
     backdrop-filter: blur(25px);
     border-radius: 100px;
     flex: none;
     order: 1;
     flex-grow: 0;
}

.frame button {
     align-items: center;
     padding: 15px;
     background: linear-gradient(298.54deg, #0A767B -7.7%, #00A7D6 97.12%);
     backdrop-filter: blur(25px);
     border-radius: 100px;
}

.frame a {
     padding: 15px;
     gap: 8px;
     margin: 0 auto;
     flex: none;
     color: #FFFFFF;
}

.empower {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: flex-start;
     padding: 0px;
     gap: 40px;
     position: absolute;
     width: 675px;
     height: 312px;
     left: 98px;
     top: 223px;
}

.empower h1 {
     font-family: 'Titillium Web';
     font-size: 90px;
     font-weight: 700;
     line-height: 90px;
     letter-spacing: -0.01em;
     text-align: left;
     color: #FFFFFF
}

.empower p {
     font-family: 'Poppins';
     font-size: 16px;
     font-weight: 400;
     line-height: 23px;
     text-align: left;
     color: #FFFFFF;
}

.hero .image {
     position: absolute;
     width: 530px;
     height: 530px;
     left: 853px;
     top: 182px;
}

.button {
     display: flex;
     flex-direction: row;
     place-content: center;
     place-items: center;
     padding: 24px;
     gap: 8px;
     position: absolute;
     width: 324px;
     height: 72px;
     left: 98px;
     top: 599px;
     background: linear-gradient(298.54deg, #0A767B -7.7%, #00A7D6 97.12%);
     border-radius: 8px;
}

.button p {
     font-family: 'Titillium Web';
     width: 276px;
     height: 24px;
     font-size: 24px;
     font-weight: 700;
     line-height: 24px;
     text-align: center;
     color: rgba(255, 255, 255, 1);

}